.post-info {
  bottom-margin: 20px;
  color: #999999;
}

.right {
  float: right;
}

ul.recent-posts { padding-left: 10pt; }
.recent-posts li { list-style-type: none; }

.sourceCode span.co { color: #969896; }
.sourceCode span.kw { color: #a71d5d; font-weight: bold; }
.sourceCode span.st { color: #183691; font-style: italic; }
.sourceCode span.dv { color: #183691; }
.sourceCode span.fu { color: #614A82; }

.sourceCode .diff span.kw { color: #a71d5d; font-weight: bold; }
.sourceCode .diff span.dt { color: #189136; font-weight: bold; }
.sourceCode .diff span.st { color: #a71d5d; }
.sourceCode .diff span.va { color: #189136; }

.sourceCode .haskell span.ot { color: #1d1da7; font-weight: bold; }
.sourceCode .haskell span.dt { font-weight: bold; }

a.btn.continue:hover { background-color: #0085A1; color: #ffffff; }
header.masthead .post-heading .tags a { color: #ffffff; text-decoration: underline; }
