.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .container .text-muted {
  margin: 20px 0;
}

.post-info {
  bottom-margin: 20px;
  color: #999999;
}

.right {
  float: right;
}

.sourceCode span.co { color: #969896; }
.sourceCode span.kw { color: #a71d5d; font-weight: bold; }
.sourceCode span.st { color: #183691; font-style: italic; }
.sourceCode span.dv { color: #183691; }
.sourceCode span.fu { color: #614A82; }
