$if(background)$
<header class="intro-header" style="background-image: url('/images/bg/$background$')">
$else$
<header class="intro-header" style="background-image: url('/images/bg/bubbles.jpg')">
$endif$
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>$title$</h1>
          $if(subtitle)$
            <hr>
            <h2>$subtitle$</h2>
          $endif$
          <div>Posted on $date$</div>
          <div class="tags">Tags $tags$</div>
        </div>
      </div>
    </div>
  </div>
</header>
