<header class="intro-header" style="background-image: url('/images/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>$title$</h1>
          $if(subtitle)$
            <hr>
            <h2>$subtitle$</h2>
          $endif$
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="col-md-9">
    $body$
  </div>
  <div class="col-md-3">
    <h3>Recent posts</h3>
    <ul class="recent-posts">
      $for(recentPosts)$
        <li><a href="$url$">$title$</a></li>
      $endfor$
    </ul>
    <h3>Tag cloud</h3>
    $tagCloud$
  </div>
</div>
